<div class="card">
	<div class="card-header"><strong>Invoicing</strong></div>
	<div class="card-block">
		<p class="card-text">
			Invoices are generated for completed rota item entries from previous weeks. If a rota item entry has not been deleted, it
			is assumed that the appointment took place, and an invoice will be generated for it. The invoicing happens in two stages,
			1) producing the invoices, 2) amending them if necessary, and issuing them. The cost is automatically calculated for you
			based on system configuration. <em>See the 'Technical' section for further information on this.</em> The 'View' option
			simply allows for viewing issued invoices with pagination.

		</p>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Producing invoices</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Select 'Invoicing';</li>
			<li>Click the 'Produce' button;</li>
			<li>Examine the invoices and adjust the total billable amount accordingly;</li>
		</ul>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Issuing invoices</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Follow the previous steps for producing invoices;</li>
			<li>Click the 'Issue' button for each invoice for it to be added to the data store;</li>
			<li>Printing invoices have to be manually setup with Jasper templates as outlined in the 'Technical' section.</li>
		</ul>
	</div>
</div>