@import '../../emilena';

footer {
    position: relative;
    font-size: 0.85rem;
    background-color: $color2;
    padding: 1rem;

    .footer-content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}