<div class="container">
	<div class="item">
		<md-card>
			<md-card-subtitle>Details</md-card-subtitle>
			<md-card-content>
				<md-input placeholder="Company (disabled)" disabled value="Frances Taylor Foundation"></md-input>
				<div>
					<md-input placeholder="First name" name="forename" [(ngModel)]="staff.forename"></md-input>
					<md-input placeholder="Surname" name="surname" [(ngModel)]="staff.surname"></md-input>
				</div>
				<div>
					<md-input placeholder="E-mail" name="email" [(ngModel)]="staff.email"></md-input>
					<md-input placeholder="Telephone" name="telephone" [(ngModel)]="staff.telephoneNumber"></md-input>
				</div>
				<div>
					<md-input placeholder="Address" name="address1" [(ngModel)]="staff.address.firstLine"></md-input>
					<md-input placeholder="Address 2" name="address2" [(ngModel)]="staff.address.secondLine"></md-input>
					<md-input placeholder="City" name="address3" [(ngModel)]="staff.address.town"></md-input>
					<md-input #postalCode maxlength="9" placeholder="Postal Code" name="address5" [(ngModel)]="staff.address.postCode">
						<md-hint align="end">{{ postalCode.characterCount }} / 9</md-hint>
					</md-input>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div class="item">
		<availability (availabilityOutput)="updateAvailability($event)"></availability>
	</div>
	<div *ngIf="staff.availabilities.length > 0" class="item">
		<md-card>
			<md-card-subtitle>Availability</md-card-subtitle>
			<md-card-content *ngFor="let availability of staff.availabilities; let i = index">
				<span>{{ availability.dayOfWeek | capitalizeFirst }}: {{ availability.fromTime }} till {{ availability.toTime }}</span>
				<button (click)="removeAvailability(i)" md-button>Remove</button>
				<hr>
			</md-card-content>
		</md-card>
	</div>
</div>
<button class="next-btn" md-raised-button color="primary" (click)="next()">Next</button>