<div class="card">
	<div class="card-block">
		<p class="card-text">
			<strong>Technical:</strong>
		</p>
		<ol>
			<li>Secure connections over HTTPS</li>
			<li>Custom administration credentials for private access</li>
			<li>Personal information is privately stored in a secured database</li>
			<li>Information stored adheres to all scheduling of the Data Protection Act</li>
			<li>No information is used for any other purposes, such as marketing etc</li>
			<li>The site does not use cookies</li>
		</ol>
	</div>
</div>