<button class="btn btn-success btn-sm edit-btn" (click)="lgModal.show()">
	<i class="fa" [ngClass]="{'fa-plus': !isEditMode, 'fa-pencil': isEditMode}" aria-hidden="true"></i>
</button>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong class="modal-title">{{title}}</strong>
			</div>
			<div class="modal-body">

				<app-time [inputStart]="fromTime" [inputEnd]="toTime" (outputTime)="updateTime($event)"></app-time>

				<div class="form-group">
					<label for="clients">Client</label>
					<select class="form-control" name="clients" [(ngModel)]="selectedClient">
						<option disabled></option>
						<option *ngFor="let c of clients" [value]="c.id">{{ c.surname }}, {{ c.forename }}</option>
					</select>

					<label for="staff">Staff</label>
					<select class="form-control" name="staff" [(ngModel)]="selectedStaff">
						<option disabled></option>
						<option *ngFor="let s of staff" [value]="s.id">{{ s.surname }}, {{ s.forename }}</option>
					</select>
				</div>

				<alert *ngIf="!isValid" dismissOnTimeout="4000">
					Please ensure all fields are selected, and that the start time is not after the finish time for the appointment.
				</alert>
				<button class="btn btn-success" [disabled]="!isValid" (click)="create()">Save</button>
				<button class="btn btn-secondary" (click)="lgModal.hide()">Cancel</button>
			</div>
		</div>
	</div>
</div>