<div class="card">
	<div class="card-block">
		<h4 class="card-title">{{person.surname}}, {{person.forename}}</h4>
		<p class="card-text">{{ person | address }} </p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> {{ person.telephoneNumber }}</li>
		<li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> {{person.email}}</li>
		<li class="list-group-item">
			<app-availability-modal [person]="person"></app-availability-modal>
		</li>
		<li class="list-group-item"><strong>Preferences:</strong> {{ person.preferences }}</li>
	</ul>
	<div class="card-block">
		<button class="btn btn-success" (click)="submit()" [routerLink]="['']">Submit</button>
		<button class="btn btn-warning" (click)="back()">Edit</button>
	</div>
</div>