<div class="card">
	<div class="card-block">
		<h4 class="card-title">{{person.surname}}, {{person.forename}}</h4>
		<p class="card-text">{{ person | address }} </p>
		<div class="form-check">
			<label class="custom-control custom-radio">
				<input id="radio1" name="radio" [(ngModel)]="person.active" [value]="true" type="radio" class="custom-control-input" [checked]="true">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Enable person</span>
			</label>
			<label class="custom-control custom-radio">
				<input id="radio2" name="radio" [(ngModel)]="person.active" [value]="false" type="radio" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Disable person</span>
			</label>
		</div>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> {{ person.telephoneNumber }}</li>
		<li class="list-group-item"><i class="fa fa-envelope" aria-hidden="true"></i> {{ person.email | unspecified }}</li>
		<li class="list-group-item">
			<app-availability-modal [person]="person"></app-availability-modal>
		</li>
		<li class="list-group-item"><strong>Preferences:</strong> {{ person.preferences | unspecified }}</li>
	</ul>
	<div class="card-block">
		<alert *ngIf="notification" type="success">Item successfully updated...</alert>
		<button class="btn btn-success" [disabled]="disableBtn" (click)="submit()">Submit</button>
		<button class="btn btn-warning" [disabled]="disableBtn" (click)="back()">Edit</button>
	</div>
</div>