<div class="col-xs-12 col-lg-4">
	<div class="card-text rota-item-block">
		<div class="ctrl-panel-item">
			<button (click)="callToDelete()" class="btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>
			<app-rota-item-write [day]="item.dayOfWeek" [clients]="clients" [staff]="staff" [item]="item" (addRotaItem)="editRotaItem($event)"></app-rota-item-write>
		</div>
		<div class="item-line-truncate"><strong>Staff:</strong> {{ item.staff.surname }}, {{item.staff.forename}}</div>
		<app-google-map [person]="item.client"></app-google-map>
		<div class="item-line-truncate"><strong>Date:</strong> {{ item.supportDate }}</div>
		<div class="item-line-truncate"><strong>From:</strong> {{ item.start }}</div>
		<div class="item-line-truncate"><strong>To:</strong> {{ item.finish }}</div>
		<div class="item-line-truncate"><strong>Address:</strong> {{ item.client | address }}</div>
		<div class="item-line-truncate"><strong>Telephone:</strong> {{ item.client.telephoneNumber }}</div>
	</div>
</div>