@import '../../emilena';

.rota-item-block {
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: $brand-secondary;
    @include border-radius(4px);
    @include box-shadow(4px, 2px, 5px, -2px, rgba(110,111,125,1));
}

.ctrl-panel-item {
    background-color: $brand-secondary;
    margin-bottom: 1rem;
}