.rota-item-block {
    background-color: rgba(86, 93, 104, 0.1);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(86, 93, 104, 0.3);
    margin-bottom: 1em;
    -webkit-box-shadow: 4px 2px 5px -2px rgba(110,111,125,1);
    -moz-box-shadow: 4px 2px 5px -2px rgba(110,111,125,1);
    box-shadow: 4px 2px 5px -2px rgba(110,111,125,1);
}