<div><button class="btn btn-outline-secondary btn-sm float-xs-right"><i class="fa fa-minus" aria-hidden="true"></i></button></div>
<div class="item-line-truncate"><strong>Staff:</strong> {{ item.staff.surname }}, {{item.staff.forename}}</div>
<div class="item-line-truncate"><strong>Client:</strong> {{ item.client.surname }}, {{ item.client.forename }}</div>
<div class="item-line-truncate"><strong>From:</strong> {{ item.start }}</div>
<div class="item-line-truncate"><strong>To:</strong> {{ item.finish }}</div>
<div class="item-line-truncate"><strong>Address:</strong> {{ item.client | address }}</div>