<div [@navigationState]="navigationState">
	<div class="page-header">
		<h4>{{title}}</h4>
		<p>Add the person's availability. This is required for scheduling appointments in the rota. If the availability is unknown,
			select the person from the directory and edit their availabilities at a later time.</p>
	</div>
	<div class="card">
		<div class="card-header">
			Availability
		</div>
		<div class="card-block">
			<availability (availabilityOutput)="updateAvailabilities($event)"></availability>
			<div *ngIf="duplicateAvailabilityMsg" class="mb-1 availability-conflict">
				This availability you have selected conflicts with an existing availability.
			</div>
			<button type="button" class="btn btn-secondary btn-block mb-1" (click)="availabilityCollapse = !availabilityCollapse">
								<i class="fa" [ngClass]="{'fa-chevron-down': availabilityCollapse, 'fa-chevron-up': !availabilityCollapse}" aria-hidden="true"></i> Availabilities: {{ person.availabilities.length }}
							</button>
			<div [collapse]="availabilityCollapse">
				<alert *ngFor="let a of person.availabilities; let i = index" [type]="'success'" (close)="removeAvailability(i)" dismissible="true">
					<div><strong>{{ a.dayOfWeek | capitalizeFirst }}</strong></div>
					<div>From: {{ a.fromTime }}, Till: {{ a.toTime }}</div>
				</alert>
			</div>
		</div>
	</div>
	<div class="button-bar">
		<button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
		<button type="button" class="btn btn-secondary" (click)="backClicked()">Back</button>
		<button type="button" class="btn btn-primary" (click)="next()">Next</button>
	</div>
</div>