<app-spinner *ngIf="loading"></app-spinner>
<div class="row" *ngIf="!loading" [@navigationState]="navigationState">
	<div class="col-xs-12">
		<div class="page-header">
			<h4>{{title}}</h4>
			<p>Managing clients and staff is required for accurate scheduling. Any person currently set to active will be picked up during
				the scheduling process.
			</p>
		</div>
	</div>

	<div class="col-xs-12">
		<div class="filter-list">
			<button class="btn btn-sm btn-secondary float-xs-right" (click)="reset()">Reset</button>
			<div class="form-group">
				<label for="filter">Filters <i class="fa fa-filter" aria-hidden="true"></i></label>
				<input class="form-control" type="text" name="filter" placeholder="Person's name or part of..." [(ngModel)]="filterText"
					(ngModelChange)="onChange($event)">
			</div>
			<label class="custom-control custom-checkbox ml-1">
				<input type="checkbox" class="custom-control-input" [ngModel]="isStaffChecked" (ngModelChange)="filterStaffCheck($event)">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Staff <small>({{staffCount}})</small></span>
			</label>
			<label class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" [ngModel]="isClientChecked" (ngModelChange)="filterClientCheck($event)">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Clients <small>({{clientCount}})</small></span>
			</label>
			<label class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" [ngModel]="isActiveChecked" (ngModelChange)="filterActiveCheck($event)">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Active <small>({{activeCount}})</small></span>
			</label>
			<label class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" [ngModel]="isInActiveChecked" (ngModelChange)="filterInActiveCheck($event)">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">Inactive <small>({{inActiveCount}})</small></span>
			</label>
		</div>
	</div>

	<div class="col-xs-12" *ngIf="!people || people.length == 0">
		<p>No results found!</p>
	</div>

</div>

<div class="row">
	<div *ngFor="let p of filterContainer, let i = index">
		<div class="col-xs-12 col-md-6 col-lg-4">
			<div class="card">
				<div class="card-header mb-1">
					<h4 class="card-title list-truncate">{{p.surname}}, {{p.forename}} <small class="text-muted">{{ p.personType | capitalizeFirst }}</small></h4>
					<p class="card-text list-truncate">{{ p | address }} </p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<i class="fa fa-circle-o" aria-hidden="true"></i>
						<div class="item-label">Status:</div>
						<span [ngSwitch]="p.active">
							<span *ngSwitchCase="true" class="active"> Active</span>
						<span *ngSwitchCase="false" class="inactive"> Inactive</span>
						<span *ngSwitchDefault> Inactive</span>
						</span>
					</li>
					<li class="list-group-item">
						<i class="fa fa-user-circle-o" aria-hidden="true"></i>
						<div class="item-label">Type:</div> {{ p.personType | capitalizeFirst }}
					</li>
					<li class="list-group-item">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<div class="item-label">Phone:</div> {{ p.telephoneNumber }}
					</li>
					<li class="list-group-item list-truncate">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<div class="item-label">Email:</div> {{ p.email | unspecified }}
					</li>
					<li class="list-group-item">
						<app-availability-modal [person]="p"></app-availability-modal>
					</li>
					<li class="list-group-item list-truncate"><strong>Prefs:</strong> {{ p.preferences | unspecified }}</li>
				</ul>
				<div class="card-block">
					<button class="btn btn-secondary btn-block" (click)="edit(p)">Edit</button>
					<app-delete-modal (closedNotification)="notified($event)" [person]="p"></app-delete-modal>
				</div>
			</div>
		</div>
	</div>
</div>