.list-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filter-list {
  background-color: #f5f6f7;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #d8d7d0;
  margin-bottom: 1rem;
}

.active {
  color: #60c755;
  font-style: italic;
}

.inactive {
  color: #FF0000;
  font-style: italic;
}

.item-label {
  display: inline-block;
  min-width: 5rem;
}