<div class="row">
	<div class="col-xs-12">
		<h4>{{title}}</h4>
		<div class="form-group filter-list">
			<label for="filter">Filter <i class="fa fa-filter" aria-hidden="true"></i></label>
			<input class="form-control" type="text" name="filter" placeholder="e.g. Emily">
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let p of people, let i = index">
		<div class="card">
			<div class="card-header mb-1">
				<h4 class="card-title list-truncate">{{p.surname}}, {{p.forename}}</h4>
				<p class="card-text list-truncate">{{ p | address }} </p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item"><i class="fa fa-phone" aria-hidden="true"></i> {{ p.telephoneNumber }}</li>
				<li class="list-group-item list-truncate"><i class="fa fa-envelope" aria-hidden="true"></i> {{p.email}}</li>
				<li class="list-group-item">
					<app-availability-modal [person]="p"></app-availability-modal>
				</li>
				<li class="list-group-item list-truncate"><strong>Prefs:</strong> {{ p.preferences }}</li>
			</ul>
			<div class="card-block">
				<!-- TODO put this logic in the component -->
				<button *ngIf="isClient" class="btn btn-secondary btn-block" [routerLink]="['/person-edit', { type: 'client', id: p.id }]">Edit</button>
				<button *ngIf="!isClient" class="btn btn-secondary btn-block" [routerLink]="['/person-edit', { type: 'staff', id: p.id }]">Edit</button>
				<button (click)="remove(i)" class="btn btn-outline-danger btn-block"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
			</div>
		</div>
	</div>
</div>