.card {
    float: none;
    margin: 0px auto;
    background-color: #0080ab;
}
.card-header {
    background-color: #0080ab;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    color: rgba(255,255,255,.65);
}