<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="!loading" class="col-xs-12 col-md-6 offset-md-3" [@navigationState]="navigationState">
	<div class="card card-inverse card-primary">
		<div class="card-header">
			<p>Care Scheduler - Login</p>
			<p class="card-text"><em>For demo, please use the credentials for both username and password:</em> <strong>superuser</strong></p>
		</div>
		<div class="card-block">
			<form (ngSubmit)="login()">
				<alert *ngIf="attempts > 0" type="danger">
					Invalid credentials, please try again.
				</alert>
				<div class="form-group">
					<label for="user">Username</label>
					<input class="form-control" name="user" type="text" placeholder="username" align="end" [(ngModel)]="systemUser.userName"
						(ngModelChange)="onChangeUsername($event)">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input class="form-control" name="password" type="password" placeholder="password" align="end" [(ngModel)]="systemUser.password"
						(ngModelChange)="onChangePassword($event)">
				</div>
				<input type="submit" class="btn btn-outline-secondary" value="Login">
			</form>
		</div>
	</div>
</div>