<div class="row">
	<div class="col-xs-12" *ngIf="rota">
		<h4>Rota <small class="text-muted">Created: {{forDate}}</small></h4>
	</div>
	<div class="col-xs-12" *ngIf="!rota">
		<h4>Rota</h4>
	</div>
	<div class="col-xs-12 mb-1">
		<button (click)="create()" class="btn btn-primary">Create</button>
		<button class="btn btn-success">Save</button>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Monday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="monday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of monday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Tuesday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="tuesday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of tuesday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Wednesday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="wednesday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of wednesday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Thursday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="thursday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of thursday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Friday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="friday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of friday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong>Saturday</strong></span>
						<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="saturday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of saturday; let i = index">
							<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		<div class="card">
			<div class="card-header mb-1">
				<span class="card-title list-truncate"><strong>Sunday</strong></span>
				<button class="btn btn-outline-secondary float-xs-right"><i class="fa fa-plus" aria-hidden="true"></i></button>
			</div>
			<div class="card-block">
				<p class="card-text" *ngIf="sunday.length == 0">Unallocated</p>
				<div class="card-text rota-item-block" *ngFor="let item of sunday; let i = index">
					<app-rota-item-read [item]="item" [index]="i" (remove)="deleteRotaItem($event)"></app-rota-item-read>
				</div>
				<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
			</div>
		</div>
	</div>
</div>