@import '../../emilena';

.day-title {
    text-align: center;
}

:host /deep/ .nav-tabs {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    background-color: $brand-secondary;
    .nav-item {
        color: $gray-lighter !important;
    }
    .nav-link {
        color: $gray-lighter !important;
        &.active {
            color: $gray-lightest !important;
            border-color: $gray-lighter $gray-lighter transparent;
            background-color: $brand-primary !important;
        }
    }
}