<app-spinner *ngIf="loading"></app-spinner>
<div class="row" *ngIf="!loading" [@navigationState]="navigationState">
	<div class="col-xs-12">
		<div class="page-header">
			<h4>Rota <small class="text-muted" *ngIf="rota"> Week {{ rota.weekStarting }}</small></h4>
			<p>Client and staff availability must be entered accurately. Anyone unavailable for this week should either be manually removed
				from the rota, or deactivated. Availability and activation state can be amended from the directory.
			</p>
		</div>
	</div>

	<!-- CONTROL PANEL -->
	<div class="col-xs-12">
		<div class="ctrl-panel-dropdown" (click)="isCollapsed = !isCollapsed">
			<strong><i class="fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}" aria-hidden="true"></i> Control Panel</strong>
		</div>
	</div>
	<div class="col-xs-12" [collapse]="isCollapsed">
		<div class="ctrl-panel">
			<button (click)="automate()" class="btn btn-sm btn-success">New</button>
			<button (click)="save()" class="btn btn-sm btn-secondary">Save</button>
			<app-allocation-modal *ngIf="rota && rota.id" [rotaId]="rota.id"></app-allocation-modal>
		</div>
	</div>
	<div *ngIf="saved" class="col-xs-12 mt-1">
		<alert (close)="alertDismissed()" type="success" dismissOnTimeout="3000">
			Successfully saved!
		</alert>
	</div>
	<div *ngIf="alreadyExists" class="col-xs-12 mt-1">
		<alert (close)="alertDismissed()" dismissible="true" type="danger">
			<p>
				A rota for <strong>{{rota.weekStarting}} </strong> already exists. If you wish to recreate it, please delete it first.
				Otherwise make manual amendments to the existing rota.
			</p>
			<div>
				<p>Do you wish to delete it?</p>
				<button (click)="delete(rota)" class="btn btn-outline-danger">Yes</button>
				<button (click)="noDelete(rota)" class="btn btn-outline-danger">No</button>
			</div>
		</alert>
	</div>
</div>
<div class="row mt-1" *ngIf="!loading && rota">
	<div class="col-xs-12">
		<tabset>
			<tab heading="Monday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Monday" [items]="monday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'MONDAY'">
				</app-rota-card>
			</tab>

			<tab heading="Tuesday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Tuesday" [items]="tuesday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'TUESDAY'">
				</app-rota-card>
			</tab>

			<tab heading="Wednesday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Wednesday" [items]="wednesday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'WEDNESDAY'"></app-rota-card>
			</tab>

			<tab heading="Thursday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Thursday" [items]="thursday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'THURSDAY'"></app-rota-card>
			</tab>

			<tab heading="Friday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Friday" [items]="friday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'FRIDAY'"></app-rota-card>
			</tab>

			<tab heading="Saturday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Saturday" [items]="saturday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'SATURDAY'"></app-rota-card>
			</tab>

			<tab heading="Sunday">
				<app-rota-card [rota]="rota" (requestDelete)="deleteRotaItem($event)" (requestSave)="save()" [dayTitle]="Sunday" [items]="sunday"
					[clients]="clients" [staff]="staff" [dayOfWeek]="'SUNDAY'"></app-rota-card>
			</tab>
		</tabset>
	</div>
</div>
<div class="row" *ngIf="!loading">
	<div class="col-xs-12">
		<div class="button-bar">
			<button class="btn btn-secondary" (click)="backClicked()">Back</button>
		</div>
	</div>
</div>