<app-spinner *ngIf="loading"></app-spinner>
<div class="row" *ngIf="!loading" [@navigationState]="navigationState">
	<div class="col-xs-12">
		<div class="page-header">
			<h4>Rota <small class="text-muted" *ngIf="rota"> Week {{ rota.weekStarting }}</small></h4>
			<p>Ensure client and staff availability information is entered accurately and that any unavailable person has their availability
				status updated from the clients/staff listing. Manual updates from generated rota entries are possible.
			</p>
		</div>
	</div>

	<!-- CONTROL PANEL -->
	<div class="col-xs-12">
		<div class="ctrl-panel-dropdown" (click)="isCollapsed = !isCollapsed">
			<strong><i class="fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}" aria-hidden="true"></i> Control Panel</strong>
		</div>
	</div>
	<div class="col-xs-12" [collapse]="isCollapsed">
		<div class="ctrl-panel">
			<div class="form-group">
				<label for="rotas">Saved Rotas</label>
				<select class="form-control" name="rotas" [(ngModel)]="rotaId" (ngModelChange)="onChange($event)">
					<option disabled></option>
					<option *ngFor="let r of rotas" [value]="r.id">{{ r.weekStarting }}, Revision: {{ r.id }}</option>
				</select>
			</div>
			<div class="form-group">
				<label for="rotas">Create New Rota</label>
				<select class="form-control" name="rotas" [(ngModel)]="selectedDate" (ngModelChange)="selectDate($event)">
					<option disabled></option>
					<option *ngFor="let week of weeks" [value]="week">{{ week }}</option>
				</select>
			</div>
			<div class="button-bar">
				<button (click)="save()" class="btn btn-outline-success">Save</button>
				<app-allocation-modal *ngIf="rota && rota.id" [rotaId]="rota.id"></app-allocation-modal>
			</div>
		</div>
	</div>
	<div *ngIf="saved" class="col-xs-12 mt-1">
		<alert (close)="alertDismissed()" type="success" dismissOnTimeout="3000">
			Successfully saved!
		</alert>
	</div>
	<div *ngIf="alreadyExists" class="col-xs-12 mt-1">
		<alert (close)="alertDismissed()" dismissible="true" type="danger">
			<p>
				A rota for <strong>{{rota.weekStarting}} </strong> already exists. If you wish to recreate it, please delete it first.
				Otherwise make manual amendments to the existing rota.
			</p>
			<div>
				<p>
					Do you wish to delete it?
				</p>
				<button (click)="delete(rota)" class="btn btn-outline-danger">Yes</button>
				<button (click)="noDelete(rota)" class="btn btn-outline-danger">No</button>
			</div>
		</alert>
	</div>
</div>

<div class="row mt-1" *ngIf="!loading && rota">
	<div class="col-xs-12">
		<tabset>
			<!-- MONDAY -->
			<tab heading="Monday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Monday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'MONDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="monday.length == 0">Unallocated</p>
						<div *ngFor="let item of monday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- TUESDAY -->
			<tab heading="Tuesday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Tuesday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'TUESDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="tuesday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of tuesday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- WEDNESDAY -->
			<tab heading="Wednesday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Wednesday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'WEDNESDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="wednesday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of wednesday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- THURSDAY -->
			<tab heading="Thursday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Thursday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'THURSDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="thursday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of thursday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- FRIDAY -->
			<tab heading="Friday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Friday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'FRIDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="friday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of friday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- SATURDAY -->
			<tab heading="Saturday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Saturday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [clients]="clients" [staff]="staff"
							[day]="'SATURDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="saturday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of saturday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>

			<!-- SUNDAY -->
			<tab heading="Sunday">
				<div class="card">
					<div class="card-header mb-1">
						<span class="card-title list-truncate"><strong class="day-title">Sunday</strong></span>
						<app-rota-item-write [weekStarting]="rota.weekStarting" [clients]="clients" [staff]="staff" [day]="'SUNDAY'" (addRotaItem)="add($event)"></app-rota-item-write>
					</div>
					<div class="card-block">
						<p class="card-text" *ngIf="sunday.length == 0">Unallocated</p>
						<div class="card-text rota-item-block" *ngFor="let item of sunday; let i = index">
							<app-rota-item-read [clients]="clients" [staff]="staff" [item]="item" [index]="i" (complete)="completeRotaItem($event)" (remove)="deleteRotaItem($event)"></app-rota-item-read>
						</div>
					</div>
					<div class="card-footer text-muted">
						<p class="card-text"><small class="text-muted">Last updated {{updated}}</small></p>
					</div>
				</div>
			</tab>
		</tabset>
	</div>
</div>
<div class="row" *ngIf="!loading">
	<div class="col-xs-12">
		<div class="button-bar">
			<button class="btn btn-outline-secondary" (click)="backClicked()">Back</button>
		</div>
	</div>
</div>