<div class="card">
	<div class="card-header"><strong>Scheduling/Rota</strong></div>
	<div class="card-block">
		<p class="card-text">
			Once active clients and staff have been entered into the system, you will have the ability to generate a rota. This automatically
			assigns a member of staff to a client within a specified maximum radius distance. It allows for travelling time, as well
			as splitting up availability times during the course of a single day. For example, a client on a particular day may require
			two appointments on a recurring basis. If this day were a Tuesday, then two availability entries would exist for this
			client for that day. Similarly, staff availability can be granularly defined, splitting their days up into segments, allowing
			time for training, breaks, meetings, and other times where they would not be available for an appointment. The application
			is responsive in design, meaning that it will work on a mobile device or a desktop computer. This provides the usefulness
			of administrators being able to generate a rota, with field staff having the ability to view the rota, and client location
			with addresses and maps.
		</p>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Creating a new rota</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Select 'Rota';</li>
			<li>From the control panel select 'New';</li>
			<li>Inspect the rota for any necessary manual modifications such as amendments and deletions (see below);</li>
			<li>Once satisfied with the result, select 'Save'.</li>
			<li>If any person who should be scheduled in for an appointment has been missed, then it will be down to a lack of availability.
				A button will appear called 'Unallocated'. Select this, and you will be provided with a list of all people who could
				not be scheduled in for an appointment;</li>
			<li>It is then up to you to make the necessary resource available.</li>
		</ul>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Editing an existing rota</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Select 'Rota';</li>
			<li>Locate the rota you would like to modify from the 'Saved Rotas' drop-down list, and select it;</li>
			<li>To manually <strong>add</strong> a new appointment (rota item entry), within that tab for each day, select the green button
				with the + symbol;</li>
			<li>To <strong>delete</strong> an appointment (rota item entry) click the red button to the right hand side of each entry;</li>
			<li>To <strong>modify</strong> an appointment click the green button to the right hand side of each entry;</li>
			<li>Manually adding, modifying and deleting an entry provides flexibility for unexpected absence, or change of availability
				and resource.</li>
		</ul>
	</div>
</div>