<div class="col-xs-12 col-md-6">
	<div class="card">
		<div class="card-header">
			<span class="card-title">Invoice<small class="text-muted"> {{ invoice.rotaItem.client.forename }} {{ invoice.rotaItem.client.surname }}</small></span>
			<div *ngIf="!invoice.id" class="float-xs-right">
				<button type="button" class="btn btn-sm btn-success" (click)="submit(invoice)">Issue</button>
			</div>
		</div>
		<div class="card-block">
			<table class="table">
				<tbody>
					<tr>
						<td>ID:</td>
						<td>{{invoice.id}}</td>
					</tr>
					<tr>
						<td>Client:</td>
						<td>{{ invoice.rotaItem.client.forename }} {{ invoice.rotaItem.client.surname }}</td>
					</tr>
					<tr>
						<td>Address:</td>
						<td>{{ invoice.rotaItem.client.address.firstLine }}, {{ invoice.rotaItem.client.address.postCode }}</td>
					</tr>
					<tr>
						<td>Support:</td>
						<td>{{ invoice.rotaItem.supportDate }}</td>
					</tr>
					<tr>
						<td>Issue:</td>
						<td>{{ invoice.issued }}</td>
					</tr>
					<tr>
						<td>Amount:</td>
						<td>
							<span class="input-group input-group-sm">
								<input class="form-control" 
										[disabled]="invoice.id"
										[money-mask-options]="{ prefix: '', thousands: '' }" 
										[(ngModel)]="invoice.amount" mask-money />
							</span>
						</td>
					</tr>
					<tr>
						<td>Hours:</td>
						<td>{{ invoice.duration }}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="card-footer text-muted">
			{{ updated }}
		</div>
	</div>
</div>