<md-sidenav-layout fullscreen>
	<md-sidenav #sidenav>
		<md-nav-list>
			<a [routerLink]="['']" md-list-item (click)="sidenav.toggle()">Home</a>
			<a [routerLink]="['staff']" md-list-item (click)="sidenav.toggle()">Staff Management</a>
			<a [routerLink]="['client']" md-list-item (click)="sidenav.toggle()">Client Management</a>
			<a [routerLink]="['rota']" md-list-item (click)="sidenav.toggle()">Rota</a>
			<a [routerLink]="['auth']" (click)="logOut()" md-list-item (click)="sidenav.toggle()">Log out</a>
		</md-nav-list>
	</md-sidenav>

	<!-- page content -->
	<md-toolbar color="primary">
		<button md-fab (click)="sidenav.toggle()">
			<md-icon class="md-24">menu</md-icon>
		</button>
	</md-toolbar>

	<div class="app-container">
		<router-outlet></router-outlet>
	</div>

</md-sidenav-layout>