<div class="container">
	<div class="item">
		<md-card>
			<md-card-subtitle>Details</md-card-subtitle>
			<md-card-content>
				<div>
					<p><strong>Name:</strong></p>
					<md-input placeholder="First name" name="forename" [(ngModel)]="client.forename"></md-input>
					<md-input placeholder="Surname" name="surname" [(ngModel)]="client.surname"></md-input>
				</div>
				<div>
					<p><strong>Contact:</strong></p>
					<md-input placeholder="E-mail" name="email" [(ngModel)]="client.email"></md-input>
					<md-input placeholder="Telephone" name="telephone" [(ngModel)]="client.telephoneNumber"></md-input>
				</div>
				<div>
					<p><strong>Address:</strong></p>
					<md-input placeholder="First line" name="address1" [(ngModel)]="client.address.firstLine"></md-input>
					<md-input placeholder="Second line" name="address2" [(ngModel)]="client.address.secondLine"></md-input>
					<md-input placeholder="Town/city" name="address3" [(ngModel)]="client.address.town"></md-input>
					<md-input #postalCode maxlength="9" placeholder="Post code" name="address5" [(ngModel)]="client.address.postCode">
						<md-hint align="end">{{ postalCode.characterCount }} / 9</md-hint>
					</md-input>
				</div>
			</md-card-content>
		</md-card>
	</div>
	<div class="item">
		<availability (availabilityOutput)="updateAvailability($event)"></availability>
	</div>
	<div *ngIf="client.availabilities.length > 0" class="item">
		<md-card>
			<md-card-subtitle>Availability</md-card-subtitle>
			<md-card-content *ngFor="let availability of client.availabilities; let i = index">
				<span>{{ availability.dayOfWeek | capitalizeFirst }}: {{ availability.fromTime }} till {{ availability.toTime }}</span>
				<button (click)="removeAvailability(i)" md-button>Remove</button>
				<hr>
			</md-card-content>
		</md-card>
	</div>
</div>
<button class="next-btn" md-raised-button color="primary" (click)="next()">Next</button>