.spinner {
    position: absolute;
    top: 40%;
    left: 35%;
    z-index: 1010;
}
.spinner-bg {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 1000;
}

@media (min-width: 600px) {
    .spinner {
        position: absolute;
        top: 40%;
        left: 45%;
    }
}