<div [@navigationState]="navigationState">
	<div class="page-header">
		<h4>{{title}}</h4>
		<p>Begin by selecting the person type you would like to create.</p>
	</div>
	<div class="card">
		<div class="card-header">
			Person Type
		</div>
		<div class="card-block">
			<div class="col-xs-6">
				<div class="person-block" (click)="staffSelect()">
					<i class="fa fa-user" aria-hidden="true"></i>
					<div>Staff</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="person-block" (click)="clientSelect()">
					<i class="fa fa-user" aria-hidden="true"></i>
					<div>Client</div>
				</div>
			</div>
		</div>
	</div>
</div>