@import '../../emilena';

.address-not-found {
    color: $brand-danger;
}
.availability-conflict {
    color: $brand-danger;
}
.person-block {
    .fa {
        font-size: 2rem;
    }
    padding: 2rem;
    background-color: $color2;
    color: $color5;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}