<div class="row" *ngIf="person">
	<div class="col-xs-12">
		<div class="page-header">
			<h4>{{title}}</h4>
			<p>Add/Edit personal details such as preferences and contact information. Specify availability in order for automated scheduling.</p>
		</div>
	</div>
	<div class="col-xs-12">
		<div class="card-deck-wrapper">
			<div class="card-deck">
				<div class="card">
					<div class="card-header">
						Details
					</div>
					<div class="card-block">
						<div class="form-group">
							<label for="forename">Forename</label>
							<input class="form-control" type="text" name="forename" placeholder="Jane" [(ngModel)]="person.forename">
						</div>
						<div class="form-group">
							<label for="surname">Surname</label>
							<input class="form-control" type="text" name="surname" placeholder="Smith" [(ngModel)]="person.surname">
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input class="form-control" type="email" name="email" placeholder="someone@domain.com" [(ngModel)]="person.email">
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input class="form-control" type="text" name="phone" [(ngModel)]="person.telephoneNumber">
						</div>
						<div class="form-group">
							<label for="preferences">Preferences</label>
							<textarea class="form-control" name="preferences" [(ngModel)]="person.preferences"></textarea>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Address
					</div>
					<div class="card-block">
						<div class="form-group">
							<label for="line1">House number</label>
							<input class="form-control" type="text" name="line1" placeholder="12" [(ngModel)]="person.address.firstLine">
						</div>
						<div class="form-group">
							<label for="line2">Street</label>
							<input class="form-control" type="text" name="line2" placeholder="Stapley Road" [(ngModel)]="person.address.secondLine">
						</div>
						<div class="form-group">
							<label for="city">Town</label>
							<input class="form-control" type="text" name="city" placeholder="Burgess Hill" [(ngModel)]="person.address.town">
						</div>
						<div class="form-group">
							<label for="postcode">Postcode</label>
							<input class="form-control" type="text" name="postcode" placeholder="SN## #JT" [(ngModel)]="person.address.postCode">
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Availability
					</div>
					<div class="card-block">
						<availability (availabilityOutput)="updateAvailabilities($event)"></availability>
						<p *ngIf="person.availabilities.length < 1">
							<em>None to display</em>
						</p>
						<alert *ngFor="let a of person.availabilities; let i = index" [type]="'success'" (close)="removeAvailability(i)" dismissible="true">
							<div><strong>{{ a.dayOfWeek | capitalizeFirst }}</strong></div>
							<div>From: {{ a.fromTime }}, Till: {{ a.toTime }}</div>
						</alert>
					</div>
				</div>
				<div class="card" *ngIf="isClient">
					<div class="card-header">
						Preferred staff
					</div>
					<div class="card-block">
						<div class="form-group">
							<label for="assignees">Staff preference</label>
							<select class="form-control" name="assignees" [(ngModel)]="assigneeId">
								<option *ngFor="let p of people" [value]="p.id">{{ p.surname }}, {{ p.forename }}</option>
							</select>
						</div>
						<button type="button" class="btn btn-secondary mb-1" (click)="assignStaffToClient()">ADD</button>
						<ul class="list-group list-group-flush">
							<li class="list-group-item" *ngFor="let staff of person.staff; let i = index">
								<span class="float-xs-right">
									<button type="button" class="btn btn-warning btn-sm" (click)="removeStaffAssignment(i)">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
								</span>
								<div class="item-line-truncate">{{ staff.surname }}, {{ staff.forename }}</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<alert *ngIf="missingFields" type="danger" (close)="alertDismissed()" dismissOnTimeout="6000">
			{{validationPrompts}}
		</alert>
	</div>
	<div class="col-xs-12">
		<alert *ngIf="availabilityMsg" type="danger" (close)="alertDismissed()" dismissOnTimeout="6000">
			You must provide at least one availability. This can be modified at a later time.
		</alert>
	</div>
	<div class="col-xs-12">
		<button type="button" class="btn btn-outline-success" (click)="next()">Next</button>
		<button type="button" class="btn btn-secondary" [routerLink]="['']">Cancel</button>
	</div>
</div>