.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
:host /deep/ md-card {
    flex: 1 1 auto;
    margin: 5px;
}
.container .container-item {
    flex: 0 1 auto;
    margin: 5px;
}