<div [@navigationState]="navigationState">
	<div class="page-header">
		<h4>{{title}}</h4>
		<p>Begin by selecting the person type for which you wish to create.</p>
	</div>
	<div class="card">
		<div class="card-header">
			Person Type
		</div>
		<div class="card-block">
			<label class="custom-control custom-radio">
				<input id="radio1" name="radio" [(ngModel)]="selection" (ngModelChange)="selectAction($event)" [value]="true" type="radio" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">{{staff}}</span>
			</label>
			<label class="custom-control custom-radio">
				<input id="radio2" name="radio" [(ngModel)]="selection" (ngModelChange)="selectAction($event)" [value]="false" type="radio" class="custom-control-input">
				<span class="custom-control-indicator"></span>
				<span class="custom-control-description">{{client}}</span>
			</label>
		</div>
	</div>
</div>