<app-spinner *ngIf="loading"></app-spinner>
<div [@navigationState]="navigationState">
	<div class="row" *ngIf="!loading">
		<div *ngIf="isCurrent" class="col-xs-12">
			<alert type="success">All invoices are up to date</alert>
		</div>
		<div class="col-xs-12">
			<div class="page-header">
				<h4>Invoices</h4>
				<p>The invoice control panel generates invoices prior to <strong>{{ currentDate }}</strong></p>
				<button class="btn btn-sm btn-outline-primary" [disabled]="isCurrent" (click)="produce()">Produce Invoices</button>
				<button class="btn btn-sm btn-outline-primary" (click)="issued()">View issued</button>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="invoices.length > 0">
		<div *ngFor="let invoice of invoices; let i = index">
			<app-invoice-item [invoice]="invoice" (updatedInvoice)="removeInvoice($event)"></app-invoice-item>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="button-bar">
				<button class="btn btn-outline-secondary" (click)="backClicked()">Back</button>
			</div>
		</div>
	</div>
</div>