<app-spinner *ngIf="loading"></app-spinner>
<div [@navigationState]="navigationState">
	<div class="row mb-1" *ngIf="!loading">
		<div class="col-xs-12">
			<div class="page-header">
				<h4>Invoices <small class="text-muted">{{ title }}</small></h4>
				<p>The invoice control panel produces invoices for completed appointments. Once an invoice has been issued, deletion and regeneration of a rota is not possible. Only manual modifications can be made to the linked rota containing appointments limited to adding additional appointments.</p>
			</div>
		</div>
		<!-- CONTROL PANEL -->
		<div class="col-xs-12">
			<div class="ctrl-panel-dropdown" (click)="isCollapsed = !isCollapsed">
				<strong><i class="fa" [ngClass]="{'fa-chevron-down': isCollapsed, 'fa-chevron-up': !isCollapsed}" aria-hidden="true"></i> Control Panel</strong>
			</div>
		</div>
		<div class="col-xs-12" [collapse]="isCollapsed">
			<div class="ctrl-panel">
				<alert *ngIf="isCurrent" type="success">All invoices are up to date</alert>
				<button class="btn btn-outline-primary" [disabled]="!isReadOnly" (click)="produce()">Produce</button>
				<button class="btn btn-outline-success" [disabled]="true" (click)="issueAll()">Issue</button>
				<button class="btn btn-outline-primary" [disabled]="isReadOnly" (click)="issued()">View</button>
			</div>
		</div>
	</div>

	<div class="row" *ngIf="currentResults.length > 0">
		<div *ngFor="let invoice of currentResults; let i = index">
			<app-invoice-item [invoice]="invoice" (updatedInvoice)="markAsIssued($event)"></app-invoice-item>
		</div>
	</div>

	<pagination *ngIf="invoices" 
		class="pagination-sm"
		previousText="&lsaquo;" nextText="&rsaquo;"
		[totalItems]="invoices.length" 
		[itemsPerPage]="numberItemPerPage" 
		[maxSize]="maxSize"
		[rotate]="false"
		[(ngModel)]="currentPage" 
		(pageChanged)="pageChanged($event)">		
	</pagination>

	<div class="row" *ngIf="!loading">
		<div class="col-xs-12">
			<div class="button-bar">
				<button class="btn btn-secondary" (click)="backClicked()">Back</button>
			</div>
		</div>
	</div>
	
</div>