<div class="card">
	<div class="card-header"><strong>People Management</strong></div>
	<div class="card-block">
		<p class="card-text">
			The premise of this application is to consolidate personal information. This includes availability times, and geographical
			locations. With all this information to hand, semi automated scheduling can be issued without the need to manually schedule
			staff appointments with clients. In order for this to be effective, client and staff information has to be entered before
			scheduling and invoice generation can take place.
		</p>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Adding a new person</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Select 'Person';</li>
			<li>Select whether it is a client or member of staff you wish to add;</li>
			<li>All mandatory fields are marked accordingly;</li>
			<li>Using the postcode look-up provides a useful way to populate the address and retrieve the geographical coordinates. This
				is also used for map generation. If map generation fails within the rota, then verify the postcode against the person.</li>
		</ul>
	</div>
	<div class="card-block">
		<p class="card-text"><strong>Editing an existing person</strong></p>
		<p class="card-text">From the navigation bar:</p>
		<ul class="card-text">
			<li>Select 'Directory';</li>
			<li>Locate the person you wish to edit, and select the edit button;</li>
			<li>Update the person details accordingly, including availability times if necessary.</li>
		</ul>
	</div>
	<div class="card-block">
		<p class="card-text">
			<em>Please note, for the edit, create, and listing functions, you have ability to mark a person as active or inactive. 
				This is important for scheduling. If a person is marked as active, they will be added to the rota if there is a potential appointment. If marked as inactive, then they will not.</em>
		</p>
		<p class="card-text">This is necessary for retaining person information which may be linked to invoicing. Therefore it is not possible to delete
			a person without being a system administrator.</p>
	</div>
</div>