@import '../../variables';

input[type=text] {
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $gray-lighter;
    background-color: $body-bg;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    width: 30%;
}
label {
    display: block;
    margin-bottom: .5rem;
}
.time-container {
    margin-bottom: 1rem;
}