@import '../../emilena';

.sebm-google-map-container {
    height: 300px !important;
}

a {
    border-bottom: 1px dotted $gray-dark;
}
a:hover {
    text-decoration: none;
}

.map-link {
    color: $color1;
}

